// Page Content
.container
    // Introduction Row
    .row
        .col-lg-12
            h1.page-header
                | DoiT!
                small 2016 Web Team
            p
                | "여기에 작품 설명을 넣으면 될 듯"
    // Team Members Row
    .row
        .col-lg-12
            h2.page-header Our Team
        .col-lg-4.col-sm-6.text-center
            img.img-circle.img-responsive.img-center(src='https://scontent.xx.fbcdn.net/v/t1.0-9/11885156_728851200554207_4828033296060397603_n.jpg?oh=fde11655cff7bf571683c647ced90a57&oe=585B2170', alt='')
            h3
                | Sung Soo Ahn
                small 2011
            p
                | 각자 설명들 소개글 넣기
        .col-lg-4.col-sm-6.text-center
            img.img-circle.img-responsive.img-center(src='https://scontent.xx.fbcdn.net/t31.0-8/s960x960/1417709_10201077179486402_1070631940_o.jpg', alt='')
            h3
                | Sung Hyuk Kay
                small 2013
            p
                | 소개
        .col-lg-4.col-sm-6.text-center
            img.img-circle.img-responsive.img-center(src='https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.959.959/13901498_818631218238226_6299824891801431813_n.jpg?oh=e41d031652f4c6bc07915e3c7cf2620d&oe=5810E73C', alt='')
            h3
                | Myeong Jin Park
                small 2013
            p
                | 개소
        .col-lg-4.col-sm-6.text-center
            img.img-circle.img-responsive.img-center(src='https://scontent.xx.fbcdn.net/v/t1.0-1/12523187_490784281123355_9177436322547340471_n.jpg?oh=d7a8d5f7c22ed33fbbb6f507fc0b62ae&oe=5851642F', alt='')
            h3
                | Hong Bum Choi
                small 2015
            p
                | 소개
        .col-lg-4.col-sm-6.text-center
            img.img-circle.img-responsive.img-center(src='https://scontent.xx.fbcdn.net/v/t1.0-9/12118625_773713462754473_750371981218680781_n.jpg?oh=caa31159933a95abb6b1749ac1975b10&oe=58103CBD', alt='')
            h3
                | Dae Gweon Ko
                small 2015
            p
                | 개소
