<!DOCTYPE html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
	<script type="text/javascript">
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyACXoY2tVZCiIq2b8Kx0rKcC3pyWB5CPFI",
	    authDomain: "ajoubannercom.firebaseapp.com",
	    databaseURL: "https://ajoubannercom.firebaseio.com",
	    storageBucket: "ajoubannercom.appspot.com",
	  };
	  firebase.initializeApp(config);
	</script>
	<script type="text/javascript">
		//Angular JS Snippet
		var app = angular.module("sample", []);

		// Callback 함수들 정의하고 이를 이후에
		// app.run()으로 실행한다.
		app.service('$auth', ['$http', function(){

			var currentUser;

			this.init = function(){
			firebase.auth().getRedirectResult().then(function(result){
				if(result.credential){
					// 결과로 받은 것에서 user를 추출해낸다.
					var user = result.user;

				}
				else{

				}
				var user = result.user;
			}).catch(function(error){ //로그인 실패 시나리오
				var errorCode = error.code;
				var errorMessage = error.message;
				var email = error.email;
				var credential = error.credential;

				// 같은 이메일 주소로 다른 서비스를 이용해 로그인 했으면
				// 에러코드 반환해 가입방지
				if(errorCode === 'auth/account-exists0with-different-credential'){
					alert('이미 가입하셨어여');
				}
					// 그 이외 오류들
					// 정지먹은 사용자들도 여기서 예외처리 넣어주면 될 것 같음
					// Update : Firebase Auth는 API적으로 사용정지 설정을 할 수 없어
					// Firebase DB를 활용하여 사용가능성을 확인해야한다.
				else{
					//Credential Error도 확인해주는 것이 좋을 듯.
					console.error(error);
				}
			});

			firebase.auth().onAuthStateChanged(function(user){
				if(user){
					// 로그인이 확인되면 앵귤러 영역에
					// 현재 사용자 정보를 객체로 넘겨준다.
					// TODO : 제대로 먹히는지 확인해볼 것
					currentUser = {
						displayName : user.displayName,
						email : user.email,
						photoURL : user.photoURL
					}
				}
				else{
					// 로그아웃이 됐을 경우의 로직
					// 사이트 플로우가 정확히 나오면
					// 짜는 것이 좋을 듯
				}
			});
		};

	}]);

	app.controller("sampleCtrl", function($scope, $http, $auth){
		// 컨트롤러 생성하면
		// 바로 FB 로그인 initApp()을 실행해준다.
		// 대신 currentUser 받는 것은
		// 따로 로직을 지정해줘야할 것 같다.

		$scope.logIn = function(){
			if(!firebase.auth().currentUser){
				var provider = new firebase.auth.FacebookAuthProvider();
				firebase.auth().signInWithRedirect(provider);
			}
			else{
				firebase.auth().signOut();
			}

			// getToken cannot be found so far
			// $http service cannot be found so far
			// Matter of referencing (한쪽이 되면 한 쪽이 안되는 식)
			firebase.auth().currentUser.getToken(false).then(function(idToken){
				$http.post('/data', idToken);
			}).catch(function(error){
				//Handle Error
			});
		};

		$auth.init();
	});
	</script>
</head>
<body>
	<div ng-app="sample" ng-controller="sampleCtrl">
		<button ng-click="logIn()">로그인</button>
		<!--
		<div ng-show={{loggedIn}}>
			로그인 정보 : 앱에서 갖다쓸 수 있게 보여줄 예정
			<span></span>
			<img src="">
		</div>
		-->
	</div>
</body>