<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.B.C.</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div ng-app="banner" ng-controller="bannerCtrl">
    <ul class="ilst-group">
        <li ng-repeat="banner in banners | orderBy: '-date' "
            class="list-group-item">
            <span>
                <img src="{{banner.pfPic}}"/>
            </span>
            <strong>{{banner.username}}</strong>
            <span> {{banner.body}}</span>
            <span class="pull-right">{{banner.date}}</span>
        </li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="javascript/bannerCtrl"></script>

</body>
</html>