<!DOCTYPE html>
<html lang="en">
<head>
    <title>A.B.C.</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Jquery-->
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div ng-app="banner" ng-controller="bannerCtrl" class="container">
    <div class="row">
        <div class="col-lg-12 page-header">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-10">
                    <button type="button" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"> Exit</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class=" text-center"><strong>아주대학교 팔달관</strong></h1>
                </div>
            </div>
        </div>

        <ul class="ilst-group col-lg-12">
            <li ng-repeat="banner in banners | orderBy: '-date' " class="list-group-item">
                <div class="row">
                    <div class="col-md-9 col-lg-10 col-sm-8  col-xs-8">
                        <img src="{{banner.pfPic}}" class="img-thumbnail"/>
                        <strong class="">{{banner.username}}</strong>
                        <span class="">{{banner.date}}</span>
                    </div>
                    <div class="glyphicon glyphicon-pencil col-md-1 col-lg-1 col-sm-2 col-xs-2 " style="font-size:1.5em; margin-top:13px;"></div>
                    <div class="glyphicon glyphicon-trash col-md-2 col-lg-1 col-sm-2 col-xs-2" style="font-size:1.5em;margin-top:13px;"></div>

                    <!--
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <span class="glyphicon glyphicon-pencil"  style="vertical-align: middle;"></span>
                        <span class="glyphicon glyphicon-trash"  style="vertical-align: middle;"></span>
                    </div>
                    -->
                </div>
                <span class="container"> {{banner.body}}</span>
            </li>
        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="javascripts/bannerCtrl.js"></script>

</body>
</html>