<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.B.C.</title>

    <!--Jquery-->
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div ng-app="banner" ng-controller="bannerCtrl" class="container">

    <div class="container-fluid page-header">
        <h1 class="text-center"><strong>아주대학교 팔달관</strong></h1>

        <div class="pull-right">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Exit</span>
            </button>
        </div>
    </div>

    <ul class="ilst-group">
        <li ng-repeat="banner in banners | orderBy: '-date' "
            class="list-group-item">
            <div>
            <span class="">
                <img src="{{banner.pfPic}}" class="img-thumbnail"/>
            </span >
                <strong class="">{{banner.username}}</strong>
                <span class="">{{banner.date}}</span>
                <span class="pull-right">
                    <span class="glyphicon glyphicon-pencil"> edit</span>
                    <span class="glyphicon glyphicon-trash"> remove</span>
                </span>
            </div>
            <span class="container"> {{banner.body}}</span>
        </li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="javascripts/bannerCtrl.js"></script>

</body>
</html>