//
   Created by credt on 8/5/2016.


button(ng-click='ck()') 1234


h1 MAP~ or Login
a(href='/#/banner') GOTOBANNER

a(class="btn btn-social btn-facebook", ng-click="toggleAuth()")
    span(class="fa fa-facebook")
    | Sign in with Facebook
