doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 3 Col Portfolio - Start Bootstrap Template
        link(rel='stylesheet', href='../public/stylesheets/post.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://code.getmdl.io/1.2.0/material.cyan-light_blue.min.css')
        style.

    body
        #pagewrap
            header
                h1(style='text-align: center') 장소 이름
            form#inputgroup
                textarea#userInput(autofocus='', required='')
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit')
                    | POST
            hr
            section#left
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum doltur adipiscing elit.
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
            section#middle
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
            aside#right
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
                .post.demo-card-square.mdl-card.mdl-shadow--2dp
                    .mdl-card__title.mdl-card--expand
                        h2.mdl-card__title-text Update
                    .mdl-card__supporting-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenan convallis.
        script(src='https://code.getmdl.io/1.2.0/material.min.js')
