<<<<<<< HEAD

.page-banner.ng-enter,
.page-banner.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.page-banner.ng-enter {
    left: 100%;
}
.page-banner.ng-enter-active {
    left: 0;
}
.page-banner.ng-leave {
    left: 0;
}
.page-banner.ng-leave-active {
    left: -100%;
=======

.page-banner.ng-enter,
.page-banner.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.page-banner.ng-enter {
    left: 100%;
}
.page-banner.ng-enter-active {
    left: 0;
}
.page-banner.ng-leave {
    left: 0;
}
.page-banner.ng-leave-active {
    left: -100%;
>>>>>>> 2b2f555f25e3a5a74a7ea7fba57f30e1383865fc
}