@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

/* STRUCTURE */

.post{
    width: 300px !important;
    margin-top: 15px;
    margin-left: 15px;
    height:  auto !important;
}

#pagewrap {
    padding: 5px;
    width: 100%;
}
header {
    padding: 0 15px;
}
#left {
    width: 302px;
    float: left;
    padding: 5px 5px;
}

#middle {
    width: 302px; /* Account for margins + border values */
    float: left;
    padding: 5px 5px;
    margin: 0px 5px 5px 5px;
}

#right {
    width: 302px;
    padding: 5px 5px;
    float: left;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }
    #left {
        width: 41%;
        padding: 1% 4%;
    }
    #middle {
        width: 41%;
        padding: 1% 4%;
        margin: 0px 0px 5px 5px;
        float: right;
    }

    #right {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
    }

    header{
        padding: 1% 4%;
    }

    #userInput{
        width:89% !important;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    #left {
        width: auto;
        float: none;
    }

    #middle {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    #right {
        width: auto;
        float: none;
    }

    #userInput{
        width:77% !important;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }

    #userInput{
        width:100% !important;
    }

    .postbtn{
        margin-top: 5px;
        width: 4% !important;
    }


    .inputcard{
        width: 340px !important;
    }
}

header, #left, #middle, #right {
    margin-bottom: 5px;
}

/* Square card */
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background-color: #46B6AC;
}
/* Textarea CSS*/
#userInput {
    border: 2px solid #765942;
    height: 45px;
    width: 94%;
    resize: none;
    overflow:hidden;
}

#userInput:focus{
    border-color: rgba(38, 155, 201, 0.8);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 155, 201, 0.6);
}

/*Button CSS*/
.postbtn{
    position: relative;
    float: right;
    color: #fff !important;
    background: #46B6AC !important;
    vertical-align: middle;
    height: 45px !important;
    width:5% !important;
}

.exitbtn{
    position: inherit;
    float: right;
    margin-right: 18px !important;
}

.inputgroup{
    width: 100% !important;
}

.inputcard{
    width: 100% !important;
}