@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

/* STRUCTURE */

.post{
    width: 300px !important;
    margin-top: 15px;
    margin-left: 5px;
    height:  auto !important;
}

#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
header {
    height: 110px;
    padding: 0 15px;
}
#left {
    width: 302px;
    float: left;
    padding: 5px 5px;
}

#middle {
    width: 302px; /* Account for margins + border values */
    float: left;
    padding: 5px 5px;
    margin: 0px 5px 5px 5px;
}

#right {
    width: 302px;
    padding: 5px 5px;
    float: left;
}

footer {
    clear: both;
    padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }
    #left {
        width: 41%;
        padding: 1% 4%;
    }
    #middle {
        width: 41%;
        padding: 1% 4%;
        margin: 0px 0px 5px 5px;
        float: right;
    }

    #right {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
    }

    header, footer {
        padding: 1% 4%;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    #left {
        width: auto;
        float: none;
    }

    #middle {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    #right {
        width: auto;
        float: none;
    }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }

}

header, #left, #middle, #right {
    margin-bottom: 5px;
}

#pagewrap, footer {
    border: solid 1px #ccc;
}

/* Square card */
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background-color: #46B6AC;
}

/* Textarea CSS
#userInput {
    border: 2px solid #765942;
    height: 45px;
    width: 920px;
    resize: none;
    overflow:hidden;
    margin-top: 10px;
}
#userInput:focus{
    border-color: rgba(38, 155, 201, 0.8);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 155, 201, 0.6);
}
/*Button CSS
button{
    float: right;
    color: #ACEC00 !important;
    background: #3f51b5 !important;
}*/*/*/